/* Add Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  background-color: #c1aeae;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Main */
main {
  display: flex;
  flex: 1;
}

main .sidebar {
  flex: 0 0 auto;
  width: 25%;
}

main .content {
  flex: 1 1 auto;
  width: 75%;
}

.content h3 {
  text-align: center;
}

/* Footer */
footer {
  background-color: #663737;
  padding: 1rem;
  text-align: center;
}

.flex {
  display: flex;
  gap: 1rem;
}
