* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}

:root {
  view-transition-name: root;
}

.head {
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  view-transition-name: head;
}

/* Create a custom animation */
@keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Slide in and out animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

::view-transition-group(root) {
}
::view-transition-image-pair(root) {
}
::view-transition-old(root) {
  /* animation: 0.1s ease-in both move-out; */
  animation: fadeOutLeft 1s ease-in forwards;
}
::view-transition-new(root) {
  /* animation: 0.1s ease-in both move-in; */
  animation: fadeInRight 1s ease-out forwards;
}
