/* Add Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #000000;
}

/* Main */
main {
  display: flex;
  flex: 1;
}

main .sidebar {
  text-align: center;
  padding-top: 10px;
  width: 15%;
  border-right: 1px solid #000000;
}

.magic-button {
  background-color: #e0e0e0; /* Light gray background */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

main .content {
  flex: 1 1 auto;
  width: 85%;
  padding: 10px 50px;
}

.content h2 {
  text-align: center;
}

/* Footer */
footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #000000;
}
