<footer>
  <p>This is the footer section.</p>
  <p>&copy; 2022 Your Company. All rights reserved.</p>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</footer>
